/******* Global Media Queries.*******/
/* Extra small devices (phones, 320px and down) */
@media only screen and (max-width: 320px) {
  html {
    font-size: 5px;
  }
  .bg {
    position: fixed;
    overflow: auto;
  }
  .bg-container {
    width: 100%;
  }
}
/* Extra small devices (phones, 480px and down) */
@media only screen and (max-width: 480px) {
  html {
    font-size: 6px;
  }
  .header {
    padding-bottom: 5.4rem;
  }
  .logo-container img {
    width: 4rem !important;
  }
  .mobile-nav [class^="flaticon-"]:before,
  .mobile-nav [class*=" flaticon-"]:before,
  .mobile-nav [class^="flaticon-"]:after,
  .mobile-nav [class*=" flaticon-"]:after {
    color: white;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    font-size: 1rem !important;
  }
}
/* Small devices (portrait tablets and large phones, 568px and up) */
@media only screen and (max-width: 568px) {
  html {
    font-size: 7px;
  }
  .bg-container {
    width: 100%;
    height: auto;
  }
  /*** Content Background ***/
  /***** OVERLAY BACKGROUND ******/
  @supports (backdrop-filter: none) {
    .content-background,
    .mobile-content-background {
      background-color: rgba(0, 0, 0, 0.4);
    }
  }
  .header {
    padding-bottom: 5.4rem;
  }
  /*logo*/
  .logobox {
    display: block;
    width: 12%;
    float: left;
  }
  .logo-container img {
    width: 6rem !important;
  }
  /* Search */
  .search-language {
    float: right;
  }
  .mobil-search {
    display: inline-block !important;
  }
  /*llanguage-container*/
  .social {
    display: none;
  }
  /*navbar*/
  .navigation {
    display: none !important;
  }
  [class^="flaticon-"]:before,
  [class*=" flaticon-"]:before,
  [class^="flaticon-"]:after,
  [class*=" flaticon-"]:after {
    font-size: 1.5rem;
  }
  /* mobile icons */
  .call {
    display: block !important;
  }
  /* Footer and Footer Mobile */
  .footer {
    position: relative;
  }
  .footer .footer-desktop {
    display: none;
  }
  .footer .mobile-footer {
    display: block !important;
  }
  .footer-contact {
    display: none;
  }
  .mobile-contact {
    display: block;
  }
}
/* Medium devices (landscape tablets, 768px*432px and up) */
@media only screen and (min-width: 768px) {
  html {
    font-size: 8px;
  }
  .nav-text {
    display: inline;
  }
  .bg-container {
    width: 93%;
  }
  .navli {
    padding: 0.5rem 1.3rem 0.5rem 1.3rem !important;
  }
}
/* Large devices (laptops/desktops, 992px*558px and up) */
@media only screen and (min-width: 992px) {
  html {
    font-size: 12px;
  }
  .bg-container {
    width: 90%;
  }
  .navli {
    padding: 0.5rem 1.3rem 0.5rem 1.3rem;
  }
}
/* Extra large devices (large laptops and desktops, 1200px*675px and up) */
@media only screen and (min-width: 1200px) {
  html {
    font-size: 14px;
  }
  .nav-text {
    display: inline;
  }
  .bg-container {
    width: 90%;
  }
  .navli {
    padding: 0.5rem 1.3rem 0.5rem 1.3rem;
  }
}
/* Extra large devices (large laptops and desktops, 1400px and up) */
@media only screen and (min-width: 1400px) {
  html {
    font-size: 16px;
  }
  .nav-text {
    display: inline;
  }
  .bg-container {
    width: 85%;
  }
  .navli {
    padding: 0.5rem 1.3rem 0.5rem 1.3rem;
  }
}
/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (orientation: portrait) {
  html {
    font-size: 10px;
  }
  .bg-container {
    width: 95%;
  }
  .navigation {
    width: 82% !important;
  }
  .navigation span {
    display: none;
  }
  .navigation [class^="flaticon-"]:before,
  .navigation [class*=" flaticon-"]:before,
  .navigation [class^="flaticon-"]:after,
  .navigation [class*=" flaticon-"]:after {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.2rem;
  }
  .footer {
    position: relative;
  }
  .sliderBtn {
    margin-top: 10vh !important;
  }
  .carousel-items {
    height: 30vh !important;
  }
  .box-container p {
    font-size: 1.3rem;
  }
  /*box bitiş*/
}
/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (orientation: landscape) {
  html {
    font-size: 8px;
  }
  .navigation {
    width: 82% !important;
  }
  .navigation span {
    display: none;
  }
  .navigation [class^="flaticon-"]:before,
  .navigation [class*=" flaticon-"]:before,
  .navigation [class^="flaticon-"]:after,
  .navigation [class*=" flaticon-"]:after {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.2rem;
  }
  /*bg arkplan*/
  /*Carousel yatay*/
  .carousel-content {
    width: 90% !important;
  }
  .carousel-content span {
    font-size: 3rem;
  }
  .carousel-content sup {
    font-size: 1.5rem;
  }
  .carousel-content strong {
    font-size: 2.4rem;
  }
  .carousel-content h2 {
    font-size: 4rem;
  }
  .carousel-content p {
    font-size: 1rem !important;
  }
  /*Carousel yatay bitiş*/
  /*box boyutu*/
  .box-container {
    height: 20vh;
  }
}
/* ###################################### Sectors Media Queries ############################################## */
/* Extra small devices (phones, 320px and down) */
@media only screen and (max-width: 320px) {
}
/* Extra small devices (phones, 480px and down) */
@media only screen and (max-width: 480px) {
  #sektors .sector-container .sector-row {
    width: 100% !important;
  }
  #sektors .sector-container .sector-row .title-sektor h3 {
    width: 100%;
    padding-bottom: 1rem;
    border-bottom: 1px solid;
  }
  #sektors .sector-container .sector-row .skCar {
    display: none;
  }
  #sektors .sector-container .sector-row .skCar-mobil {
    display: block;
    text-align: center;
    padding: 2rem;
  }
}
/* Small devices (portrait tablets and large phones, 568px and up) */
@media only screen and (max-width: 568px) {
  #sektors {
    width: 100%;
  }
  #sektors .content {
    margin-bottom: 3rem;
    overflow: hidden;
    height: 100%;
  }
  #sektors .sidenav {
    display: none;
  }
  #sektors .sector-container {
    overflow: initial;
    width: 100%;
    padding: 1.2rem;
  }
  #sektors .sector-container .sector-row {
    width: 100%;
  }
  #sektors .sector-container .sector-row h3 {
    display: none;
  }
  #sektors .sector-container .sector-row p {
    line-height: 1.6 !important;
    font-size: 1.5rem !important;
  }
  #sektors .sector-container .sector-row .skCar {
    display: none;
  }
  #sektors .sector-container .skCar-mobil {
    display: none !important;
  }
}
/* Medium devices (landscape tablets, 768px*432px and up) */
@media only screen and (min-width: 569px) and (max-width: 768px) {
  #sektors .sector-container {
    /*sektors.vue bitiş*/
  }
  #sektors .sector-container .sector-row {
    width: 95% !important;
    margin: 1.4rem 0 0 1.6rem;
  }
  #sektors .sector-container .sector-row .skCar {
    display: none;
  }
  #sektors .sector-container .sector-row .skCar-mobil {
    display: inline;
  }
  #sektors .sector-container .sector-row p {
    font-size: 1rem;
    margin: 0 0 1rem 0;
    line-height: 1.3rem;
  }
}
/* Portrait */
/* Landscape */
/**********Home Responsive********/
/* Extra small devices (phones, 320px and down) */
@media only screen and (max-width: 320px) {
  html {
    font-size: 6px;
  }
  .carousel-container {
    width: 100%;
  }
}
/* Extra small devices (phones, 480px and down) */
@media only screen and (max-width: 480px) {
  /*carousel*/
  .carousel-content h2 {
    font-size: 2.8rem !important;
  }
  .carousel-content span {
    font-size: 1.8rem !important;
  }
  .carousel-content sup {
    font-size: 1.2rem !important;
  }
}
/* Small devices (portrait tablets and large phones, 568px and up) */
@media only screen and (max-width: 568px) {
  html {
    font-size: 10px;
  }
  /*Carousel */
  .carousel-content {
    width: 95% !important;
  }
  .carousel-content h4 {
    display: none;
  }
  .carousel-content p {
    line-height: 1.5;
  }
  .carousel-content .carousel-items {
    height: 20vh;
  }
  .sliderBtn {
    margin-top: 10vh !important;
    width: 5%;
  }
  .sliderBtn::before {
    font-size: 1rem !important;
  }
  /* Box */
  .boxes {
    width: 100%;
  }
  .boxes .box-container {
    width: 100% !important;
    height: 30vh !important;
  }
  .boxes .box-carousel {
    display: none !important;
  }
}
/* Medium devices (landscape tablets, 768px*432px and up) */
@media only screen and (min-width: 569px) and (max-width: 768px) {
  html {
    font-size: 10px;
  }
  .boxes .box-container {
    width: 48% !important;
  }
}
/* Large devices (laptops/desktops, 992px*558px and up) */
@media only screen and (min-width: 769px) and (max-width: 992px) {
  html {
    font-size: 9px;
  }
  .carousel-content span {
    font-size: 3.4rem !important;
  }
  .carousel-content sup {
    font-size: 2rem !important;
  }
  .carousel-content strong {
    font-size: 3.6rem !important;
  }
  .carousel-content p {
    font-size: 1.5rem !important;
    line-height: 1.2;
  }
}
/* Extra large devices (large laptops and desktops, 1200px*675px and up) */
/* Extra large devices (large laptops and desktops, 1400px and up) */
/* Portrait */
/* Landscape */
/**********Product Responsive********/
/* Extra small devices (phones, 320px and down) */
@media only screen and (max-width: 320px) {
  #product .product-btn-info {
    font-size: 0.7rem;
    width: 5rem;
  }
  [class="flaticon-next"]:before {
    font-size: 0.8em !important;
  }
  [class="flaticon-back"]:before {
    font-size: 0.8em !important;
  }
}
/* Extra small devices (phones, 480px and down) */
@media only screen and (max-width: 480px) {
  #product .product-btn-info {
    font-size: 1rem;
    width: 5rem !important;
    padding: 0.3rem 0.9rem;
  }
}
/* Small devices (portrait tablets and large phones, 568px and up) */
@media only screen and (max-width: 568px) {
  #product {
    padding: 1rem;
  }
  #product .product-container {
    width: 100%;
    padding: 1rem 3rem;
  }
  #product .content {
    height: auto;
  }
  #product .sidenav {
    display: none;
  }
  #product .product-btn-info {
    font-size: 1rem;
    width: 9rem;
    padding: 0.3rem 0.9rem;
  }
  #rescat {
    display: block;
    padding: 1rem;
  }
  .product-link i {
    display: none;
  }
  .product-responsive-carousel {
    display: block;
  }
  .product-content {
    text-align: center;
  }
  .product-content h2 {
    display: none;
  }
  .product-content p {
    text-indent: none !important;
    text-align: left;
    font-size: 1.8em !important;
    font-family: Arial !important;
  }
}
/* Medium devices (landscape tablets, 768px*432px and up) */
@media only screen and (max-width: 768px) and (min-width: 569px) {
  #product .product-content p {
    font-size: 1.1rem;
  }
  #product .sidenav {
    padding: 3rem;
    width: 25%;
    height: 80%;
  }
  #product .sidenav a {
    padding: 0.5rem 0.5rem 0.5rem 2rem;
  }
  #product .product-container {
    position: relative;
    width: 75%;
    height: 90%;
  }
  #product .content {
    height: 80vh;
  }
  #product .product-btn-info {
    font-size: 0.8rem;
    width: 8rem;
    padding: 0.3rem 0.9rem;
  }
}
/* Large devices (laptops/desktops, 992px*558px and up) */
/* Extra large devices (large laptops and desktops, 1200px*675px and up) */
/* Extra large devices (large laptops and desktops, 1400px and up) */
/* Portrait */
/* Landscape */
/**********About Us Responsive********/
/* Extra small devices (phones, 320px and down) */
@media only screen and (max-width: 320px) {
  #about .overlay h2 {
    font-size: 1.3rem;
  }
  #about .overlay .teams-title {
    height: 7rem;
  }
}
/* Extra small devices (phones, 480px and down) */
/* Small devices (portrait tablets and large phones, 568px and up) */
@media only screen and (max-width: 568px) {
  #about {
    padding-bottom: 2rem;
    height: auto;
  }
  #about .twin-card {
    width: 100%;
  }
  #about .about-profile {
    float: none;
    width: 100%;
  }
  #about .about-content {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  }
  #about .about-content p {
    padding-left: 0rem;
    padding-right: 0rem;
  }
  #about .about-container {
    overflow-x: visible;
  }
  #about .about-information {
    display: none;
  }
  #about img {
    width: 25%;
  }
  #about .overlay {
    position: relative;
  }
  #about .overlay img {
    width: 100%;
  }
  #about .overlay .profile-image-container {
    width: 11rem;
  }
  #about .overlay h2 {
    font-size: 1.5rem;
  }
  #about .overflow-scroll {
    overflow-x: none;
  }
  #about .content {
    height: auto;
  }
  #about .quad-card {
    width: 100%;
  }
}
/* Large devices (laptops/desktops, 992px*558px and up) */
/* Extra large devices (large laptops and desktops, 1200px*675px and up) */
/* Extra large devices (large laptops and desktops, 1400px and up) */
/* Medium devices (landscape tablets, 768px*432px and up) */
@media only screen and (max-width: 1024px) and (min-width: 569px) {
  .footer {
    position: inherit;
  }
  #about {
    padding-bottom: 4rem;
    padding-top: 4rem;
    height: initial;
  }
  #about .about-content p {
    font-size: 1.4rem;
  }
  #about .about-content .about-profile {
    padding: 2rem;
  }
  #about .about-content .teams-title {
    height: 8rem;
  }
  #about .overlay {
    position: relative;
  }
  #about .overlay .quad-card {
    float: left;
    width: 50%;
  }
  #about .overlay .f-right {
    float: none;
  }
  #about .overlay .f-left {
    float: none;
  }
  #about .overlay .twin-card {
    float: left;
    width: 50%;
  }
  #about .teams-title {
    height: 8rem;
  }
  #about .profile-image-container {
    width: 18rem;
  }
  #about .profile-image-container img {
    width: 100%;
  }
  #about .overflow-scroll {
    overflow-x: none;
  }
}
/* Portrait */
/* Landscape */
/**********Contact Responsive********/
/* Extra small devices (phones, 320px and down) */
@media only screen and (max-width: 320px) {
  .slide-card-header .header-container h2 {
    font-size: 2rem !important;
  }
  .slide-card-body h3 {
    font-size: 1.8rem !important;
  }
  .slide-card-body p {
    font-size: 1.3rem !important;
  }
  button {
    padding: 1rem !important;
  }
  button a {
    font-size: 1rem !important;
  }
  .icon-container {
    text-align: center;
  }
  .icon-container [class^="flaticon-"]:before,
  .icon-container [class*=" flaticon-"]:before,
  .icon-container [class^="flaticon-"]:after,
  .icon-container [class*=" flaticon-"]:after {
    font-size: 4rem !important;
  }
}
/* Extra small devices (phones, 480px and down) */
@media only screen and (max-width: 480px) {
  .slide-card-header .header-container h2 {
    font-size: 2rem !important;
  }
  .slide-card-body h3 {
    font-size: 1.8rem !important;
  }
  .slide-card-body p {
    font-size: 1.3rem !important;
  }
  button {
    padding: 1rem !important;
  }
  button a {
    font-size: 1rem !important;
  }
  .icon-container {
    text-align: center;
  }
  .icon-container [class^="flaticon-"]:before,
  .icon-container [class*=" flaticon-"]:before,
  .icon-container [class^="flaticon-"]:after,
  .icon-container [class*=" flaticon-"]:after {
    font-size: 4rem !important;
  }
}
/* Small devices (portrait tablets and large phones, 568px and up) */
@media only screen and (max-width: 568px) {
  #content-bg {
    background-color: transparent;
    -webkit-backdrop-filter: none ;
    backdrop-filter: none ;
  }
  #form-container .twin-input {
    float: none;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  #contact-desktop-footer {
    display: none;
  }
  #contact-mobile-footer {
    display: block !important;
  }
}
/* Medium devices (landscape tablets, 768px*432px and up) */
@media only screen and (max-width: 768px) {
  #fm-container .box {
    float: none;
    width: 100%;
    margin-top: 0;
  }
  #footer-rows .footer-row {
    width: 33%;
  }
  #footer-rows .first-row {
    float: none;
    width: 100%;
    padding-bottom: 1rem;
  }
  #footer-rows .first-row ul li {
    display: inline-block;
    margin: 0.7rem;
  }
  #footer-rows .first-row ul {
    text-align: center;
  }
}
/* Large devices (laptops/desktops, 992px*558px and up) */
/* Extra large devices (large laptops and desktops, 1200px*675px and up) */
/* Extra large devices (large laptops and desktops, 1400px and up) */
/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (orientation: portrait) {
  .slide-card-body p {
    font-size: 1.5rem;
  }
}
/* Landscape */
/**********Portfolio Responsive********/
/* Extra small devices (phones, 320px and down) */
/* Extra small devices (phones, 480px and down) */
/* Small devices (portrait tablets and large phones, 568px and up) */
@media only screen and (max-width: 568px) {
  #portfolio {
    padding: 1rem;
  }
  #portfolio .portfolio-content {
    width: 100%;
  }
  #portfolio .content {
    height: auto;
  }
  #portfolio img {
    height: 40vh;
    object-fit: cover;
  }
}
/* Medium devices (landscape tablets, 768px*432px and up) */
@media only screen and (max-width: 768px) and (min-width: 569px) {
  #portfolio .portfolio-content {
    width: 50%;
  }
}
/* Large devices (laptops/desktops, 992px*558px and up) */
@media only screen and (max-width: 1024px) {
  #portfolio .portfolio-content img {
    height: 30vh;
  }
}
/* Extra large devices (large laptops and desktops, 1200px*675px and up) */
/* Extra large devices (large laptops and desktops, 1400px and up) */
/* Portrait */
/* Landscape */
/**********Blogs Responsive********/
/* Extra small devices (phones, 320px and down) */
@media only screen and (max-width: 320px) {
  #blogs .blogs-content {
    padding: 1rem 1rem 0 1rem;
  }
}
/* Extra small devices (phones, 480px and down) */
/* Small devices (portrait tablets and large phones, 568px and up) */
@media only screen and (max-width: 568px) {
  #blogs {
    padding: 1rem;
  }
  #blogs .blogs-content {
    width: 100%;
  }
  #blogs .content {
    height: auto;
  }
}
/* Medium devices (landscape tablets, 768px*432px and up) */
@media only screen and (max-width: 768px) and (min-width: 568px) {
  #blogs .blogs-content {
    width: 50%;
  }
}
/* Large devices (laptops/desktops, 992px*558px and up) */
@media only screen and (max-width: 1024px) {
  #blogs .blogs-content img {
    height: 25vh;
  }
}
/* Extra large devices (large laptops and desktops, 1200px*675px and up) */
/* Extra large devices (large laptops and desktops, 1400px and up) */
/* Portrait */
/* Landscape */
