/*Media Sorgularımız.*/
/* Extra small devices (phones, 320px and down) */
/* Extra small devices (phones, 480px and down) */
/* Small devices (portrait tablets and large phones, 568px and up) */
/* Medium devices (landscape tablets, 768px*432px and up) */
@media only screen and (min-width: 768px) {
  html {
    font-size: 10px;
  }
  .nav-text {
    display: inline !important;
  }
  .bg-container {
    width: 93%;
  }
  .navli {
    padding: 0.5rem 1.3rem 0.5rem 1.3rem !important;
  }
}
/* Large devices (laptops/desktops, 992px*558px and up) */
@media only screen and (min-width: 992px) {
  html {
    font-size: 12px;
  }
  .nav-text {
    display: inline !important;
  }
  .bg-container {
    width: 90%;
  }
  .navli {
    padding: 0.5rem 1.3rem 0.5rem 1.3rem !important;
  }
}
/* Extra large devices (large laptops and desktops, 1200px*675px and up) */
@media only screen and (min-width: 1200px) {
  html {
    font-size: 14px;
  }
  .nav-text {
    display: inline !important;
  }
  .bg-container {
    width: 90%;
  }
  .navli {
    padding: 0.5rem 1.3rem 0.5rem 1.3rem !important;
  }
}
/* Extra large devices (large laptops and desktops, 1400px and up) */
@media only screen and (min-width: 1400px) {
  html {
    font-size: 15px;
  }
  .nav-text {
    display: inline !important;
  }
  .bg-container {
    width: 85%;
  }
  .navli {
    padding: 0.5rem 1.3rem 0.5rem 1.3rem !important;
  }
}
/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (orientation: portrait) {
  html {
    font-size: 10px;
  }
  .bg-container {
    width: 95%!important;
  }
  /*Carousel dikey*/
  .carousel-content {
    width: 90%!important;
  }
  .carousel-content span {
    font-size: 2.3rem !important;
  }
  .carousel-content sup {
    font-size: 1.3rem !important;
  }
  .carousel-content strong {
    font-size: 2.2rem !important;
  }
  .carousel-content h2 {
    font-size: 2.6rem !important;
  }
  .carousel-content p {
    font-size: 1.2rem !important;
  }
  /*Carousel dikey bitiş*/
  /** carousel içeriği pozisyon için*/
  .sliderBtn {
    margin-top: 10vh !important;
  }
  .carousel-items {
    height: 30vh !important;
  }
  /** bitiş*/
  /*Box */
  .box-container p {
    font-size: 1.3rem;
  }
  /*box bitiş*/
}
/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (orientation: landscape) {
  html {
    font-size: 8px;
  }
  /*Carousel yatay*/
  .carousel-content {
    width: 85%!important;
  }
  .carousel-content span {
    font-size: 3rem!important;
  }
  .carousel-content sup {
    font-size: 1.5rem !important;
  }
  .carousel-content strong {
    font-size: 2.4rem !important;
  }
  .carousel-content h2 {
    font-size: 4rem!important;
  }
  .carousel-content p {
    font-size: 1rem!important;
  }
  /*Carousel yatay bitiş*/
  /*box boyutu*/
  .box-container {
    height: 22vh!important;
  }
  /*box bitiş*/
}
