/*Media Sorgularımız.*/
/* Extra small devices (phones, 320px and down) */
@media only screen and (max-width: 320px) {
  .header {
    padding-bottom: 5.4rem;
  }
  .navigation span {
    display: none;
  }
  [class^="flaticon-"]:before,
  [class*=" flaticon-"]:before,
  [class^="flaticon-"]:after,
  [class*=" flaticon-"]:after {
    font-size: 1rem !important;
    padding: 0 !important;
  }
  /*Carousel yatay*/
  .carousel-content span {
    font-size: 1.5rem !important;
  }
  .carousel-content strong {
    font-size: 1.8rem !important;
  }
  .carousel-content h2 {
    font-size: 1.9rem !important;
  }
}
/* Extra small devices (phones, 480px and down) */
@media only screen and (max-width: 480px) {
  html {
    font-size: 7px!important;
  }
  .bg {
    position: fixed;
  }
  .header {
    padding-bottom: 5.4rem;
  }
  .logo-container img {
    width: 5rem!important;
    height: auto;
  }
  .navigation {
    width: 70%!important;
  }
  .navigation span {
    display: none;
  }
  .navigation [class^="flaticon-"]:before,
  .navigation [class*=" flaticon-"]:before,
  .navigation [class^="flaticon-"]:after,
  .navigation [class*=" flaticon-"]:after {
    padding-left: 0.6rem;
    padding-right: 0.6rem;
  }
  [class^="flaticon-"]:before,
  [class*=" flaticon-"]:before,
  [class^="flaticon-"]:after,
  [class*=" flaticon-"]:after {
    font-size: 2rem;
  }
  /*Carousel yatay*/
  .carousel-content {
    width: 85%!important;
  }
  /*Carousel yatay bitiş*/
  .box-content {
    height: 55%!important;
  }
}
/* Small devices (portrait tablets and large phones, 568px and up) */
@media only screen and (max-width: 568px) {
  html {
    font-size: 6px!important;
  }
  /*bootstrapCarousel*/
  .carousel-content h2 {
    font-size: 2rem!important;
  }
  .carousel-content span {
    font-size: 1.8rem !important;
  }
  .carousel-content sup {
    font-size: 1.2rem !important;
  }
  /* Product.vue */
  #product .product-container {
    overflow-x: auto!important;
    height: 100%!important;
  }
  /*Product.vue bitiş*/
  /************************************************/
  /* sektors.vue */
  #sektors .sector-container {
    overflow-x: auto!important;
    height: 100%!important;
  }
  /*sektors.vue bitiş*/
}
/* Medium devices (landscape tablets, 768px*432px and up) */
@media only screen and (min-width: 768px) {
  html {
    font-size: 8px;
  }
  .nav-text {
    display: inline !important;
  }
  .bg-container {
    width: 93%;
  }
  .navli {
    padding: 0.5rem 1.3rem 0.5rem 1.3rem !important;
  }
}
/* Large devices (laptops/desktops, 992px*558px and up) */
@media only screen and (min-width: 992px) {
  html {
    font-size: 12px;
  }
  .nav-text {
    display: inline !important;
  }
  .bg-container {
    width: 90%;
  }
  .navli {
    padding: 0.5rem 1.3rem 0.5rem 1.3rem !important;
  }
}
/* Extra large devices (large laptops and desktops, 1200px*675px and up) */
@media only screen and (min-width: 1200px) {
  html {
    font-size: 14px;
  }
  .nav-text {
    display: inline !important;
  }
  .bg-container {
    width: 90%;
  }
  .navli {
    padding: 0.5rem 1.3rem 0.5rem 1.3rem !important;
  }
}
/* Extra large devices (large laptops and desktops, 1400px and up) */
@media only screen and (min-width: 1400px) {
  html {
    font-size: 18px;
  }
  .nav-text {
    display: inline !important;
  }
  .bg-container {
    width: 85%;
  }
  .navli {
    padding: 0.5rem 1.3rem 0.5rem 1.3rem !important;
  }
}
/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (orientation: portrait) {
  html {
    font-size: 10px;
  }
  .bg-container {
    width: 95%!important;
  }
  /*Carousel dikey*/
  .carousel-content {
    width: 90%!important;
  }
  .carousel-content span {
    font-size: 2.3rem !important;
  }
  .carousel-content sup {
    font-size: 1.3rem !important;
  }
  .carousel-content strong {
    font-size: 2.2rem !important;
  }
  .carousel-content h2 {
    font-size: 2.6rem !important;
  }
  .carousel-content p {
    font-size: 1.2rem !important;
  }
  /*Carousel dikey bitiş*/
  /** carousel içeriği pozisyon için*/
  .sliderBtn {
    margin-top: 10vh !important;
  }
  .carousel-items {
    height: 30vh !important;
  }
  /** bitiş*/
  /*Box */
  .box-container p {
    font-size: 1.3rem;
  }
  /*box bitiş*/
}
/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (orientation: landscape) {
  html {
    font-size: 8px;
  }
  /*bg arkplan*/
  /*Carousel yatay*/
  .carousel-content {
    width: 85%!important;
  }
  .carousel-content span {
    font-size: 3rem!important;
  }
  .carousel-content sup {
    font-size: 1.5rem !important;
  }
  .carousel-content strong {
    font-size: 2.4rem !important;
  }
  .carousel-content h2 {
    font-size: 4rem!important;
  }
  .carousel-content p {
    font-size: 1rem!important;
  }
  /*Carousel yatay bitiş*/
  /*box boyutu*/
  .box-container {
    height: 22vh!important;
  }
  /*box bitiş*/
  /* Product.vue */
  #product .product-container {
    overflow-x: auto!important;
    height: 100%!important;
  }
  /*Product.vue bitiş*/
  /*****************************************************************/
  /* sektors.vue */
  #sektors .sector-container {
    overflow-x: auto!important;
    height: 100%!important;
  }
  /*sektors.vue bitiş*/
}
