/******* Global Media Queries.*******/


/* Extra small devices (phones, 320px and down) */
@media only screen and (max-width: 320px) {
  html {
    font-size: 5px;
  }

  .bg {
    position: fixed;
    overflow: auto;
  }

  .header {
    padding-bottom: 5.4rem;
  }

  /*logo*/
  .logobox {
    display: block;
    width: 10% ;
    float: left;
  }

  /* Search */
  .search-language {
    float: right;
  }

  .mobil-search {
    display: inline-block !important;
  }

  // .icon-container .search-input {
  //   // padding-top: 2.2rem !important;

  //   // input {
  //   //   font-size: 1.8rem;
  //   //   vertical-align: super;
  //   //   padding: 1rem;
  //   // }

  //   // [class^="flaticon-"]:before,
  //   // [class*=" flaticon-"]:before,
  //   // [class^="flaticon-"]:after,
  //   // [class*=" flaticon-"]:after {
  //   //   color: blue;
  //   //   font-size: 2rem ;
  //   // }
  // }

  /*  /* Search bitiş */
  /*llanguage-container*/
  .social {
    display: none;
  }
  /*navbar*/
  .navigation {
    display: none !important;
  }

  [class^="flaticon-"]:before,
  [class*=" flaticon-"]:before,
  [class^="flaticon-"]:after,
  [class*=" flaticon-"]:after {
    font-size: 2rem !important ;
    padding: 0;
    padding: .4rem ;
  }
  /* mobile icons */
  .call {
    display: block !important;
  }
 /* Footer and Footer Mobile */
 .footer {
  position: relative;

  .footer-desktop {
    display: none;
  }
  .mobile-footer {
    display: block !important;
  }
}
.footer-contact{
  display: none;
}

.mobile-contact {
  display: block;
}
}

/* Extra small devices (phones, 480px and down) */
@media only screen and (max-width: 480px) {
  html {
    font-size: 6px;
  }

  .header {
    padding-bottom: 5.4rem;
  }

  .logo-container {
    img {
      width: 4rem !important;
    }
  }

  [class^="flaticon-"]:before,
  [class*=" flaticon-"]:before,
  [class^="flaticon-"]:after,
  [class*=" flaticon-"]:after {
    font-size: 1rem;
  }

}

/* Small devices (portrait tablets and large phones, 568px and up) */
@media only screen and (max-width: 568px) {
  html {
    font-size: 7px;
  }

  /*** Content Background ***/

/***** OVERLAY BACKGROUND ******/ 
@supports (backdrop-filter: none) {
  .content-background {
    background-color: rgba(0, 0, 0, .2);
  }
}

}

/* Medium devices (landscape tablets, 768px*432px and up) */
@media only screen and (min-width: 768px) {
  html {
    font-size: 8px;
  }

  .nav-text {
    display: inline;
  }

  .bg-container {
    width: 93%;
  }

  .navli {
    padding: 0.5rem 1.3rem 0.5rem 1.3rem !important;
  }
}

/* Large devices (laptops/desktops, 992px*558px and up) */
@media only screen and (min-width: 992px) {
  html {
    font-size: 12px;
  }

  // .nav-text {
  //   display: inline !important;
  // }

  .bg-container {
    width: 90%;

  }

  .navli {
    padding: 0.5rem 1.3rem 0.5rem 1.3rem ;
  }
}

/* Extra large devices (large laptops and desktops, 1200px*675px and up) */
@media only screen and (min-width: 1200px) {
  html {
    font-size: 14px;
  }

  .nav-text {
    display: inline;
  }

  .bg-container {
    width: 90%;

  }

  .navli {
    padding: 0.5rem 1.3rem 0.5rem 1.3rem;
  }
}

/* Extra large devices (large laptops and desktops, 1400px and up) */
@media only screen and (min-width: 1400px) {
  html {
    font-size: 16px;
  }

  .nav-text {
    display: inline;
  }

  .bg-container {
    width: 85%;

  }

  .navli {
    padding: 0.5rem 1.3rem 0.5rem 1.3rem;
  }
}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (orientation: portrait) {
  html {
    font-size: 10px;
  }

  .bg-container {
    width: 95%;
  }

  .navigation {
    width: 70% !important;
    span {
      display: none;
    }

    [class^="flaticon-"]:before,
    [class*=" flaticon-"]:before,
    [class^="flaticon-"]:after,
    [class*=" flaticon-"]:after {
      padding-left: .4rem;
      padding-right: .4rem;
    }
  }
  /*Carousel dikey*/
  .carousel-content {
    width: 90%;

    span {
      font-size: 2.3rem;
    }

    sup {
      font-size: 1.3rem;
    }

    strong {
      font-size: 2.2rem;
    }

    h2 {
      font-size: 2.6rem;
    }

    p {
      font-size: 1.2rem ;
    }
  }


  .sliderBtn {
    margin-top: 10vh !important;
  }

  .carousel-items {
    height: 30vh !important;
  }

  .box-container {
    p {
      font-size: 1.3rem;
    }
  }

  /*box bitiş*/

}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (orientation: landscape) {
  html {
    font-size: 8px;
  }

  .navigation {
    width: 70% !important;
    span {
      display: none;
    }

    [class^="flaticon-"]:before,
    [class*=" flaticon-"]:before,
    [class^="flaticon-"]:after,
    [class*=" flaticon-"]:after {
      padding-left: 1rem;
      padding-right: 1rem;
      font-size: 1.8rem;
    }
  }
  /*bg arkplan*/
  /*Carousel yatay*/
  .carousel-content {
    width: 90% !important;

    span {
      font-size: 3rem;
    }

    sup {
      font-size: 1.5rem;
    }

    strong {
      font-size: 2.4rem;
    }

    h2 {
      font-size: 4rem;
    }

    p {
      font-size: 1rem !important;
    }
  }

  /*Carousel yatay bitiş*/

  /*box boyutu*/
  .box-container {
    height: 20vh;
  }

  /*box bitiş*/

  /* Product.vue */
  #product {
    .product-container {
      overflow-x: auto;
      height: 100%;
    }
  }

  /*Product.vue bitiş*/
  /*****************************************************************/
}


/* ###################################### Sectors Media Queries ############################################## */
/* Extra small devices (phones, 320px and down) */
@media only screen and (max-width: 320px) {
 
  #sektors{
    width: 100%;
    .sidenav{
      display: none;
    }
    .sector-container {
      width: 100%;
      margin-bottom: 3rem;
      .sector-row {
        .skCar {
          display: none;
        }
      }
    }
    
  }
}
/* Extra small devices (phones, 480px and down) */
@media only screen and (max-width: 480px) {
  #sektors{
    .sector-container {
  
      .sector-row {
        width: 100% !important;
        padding-right: 2rem;
        .title-sektor h3{
          width: 100%;
          padding-bottom: 1rem;
          border-bottom: 1px solid;
        }
        .skCar {
          display: none;
        }
        .skCar-mobil{
          display: block;
          text-align: center;
          padding: 2rem;
        }
      }
    }
  }
}

/* Small devices (portrait tablets and large phones, 568px and up) */
@media only screen and (max-width: 568px) {
  #sektors{
.sector-container {
    overflow-x: auto;

/*sektors.vue bitiş*/
  .sector-row {
    width: 100% !important;
    float: left;

    .skCar {
      margin-left: 3rem;
    }

    p {
      font-size: 1rem;
      margin: 4rem 0 0 3rem;
      line-height: 1.3rem;
    }
  }
}
}
}

/* Medium devices (landscape tablets, 768px*432px and up) */
@media only screen and (min-width: 768px) {
}



/**********Home Responsive********/

/* Extra small devices (phones, 320px and down) */
@media only screen and (max-width: 320px) {

  /*Carousel */
  .carousel-content {
    width: 95% !important;

    h4 {
      display: none;
    }

    h2 {
      font-size: 3.4rem !important;
    }

    .carousel-items {
      height: 20vh;
    }
  }

  .sliderBtn {
    margin-top: 10vh !important;
    width: 5%;
  }

  .sliderBtn::before {
    font-size: 1rem !important;
  }

  /* Box */
  .boxes {
    width: 100%;

    .box-container {
      width: 100% !important;
    }

    .box-carousel {
      display: none !important;
    }
  }
  .box-container {
    height: 100% !important;
  }
}

/* Extra small devices (phones, 480px and down) */
@media only screen and (max-width: 480px) {

  /*carousel*/
  .carousel-content {
    h2 {
      font-size: 2.8rem !important;
    }

    span {
      font-size: 1.8rem !important;
    }

    sup {
      font-size: 1.2rem !important;
    }
  }
}

/* Small devices (portrait tablets and large phones, 568px and up) */
@media only screen and (max-width: 568px) {

  /*bootstrapCarousel*/
  .carousel-content {
    h2 {
      font-size: 2rem;
    }

    span {
      font-size: 1.8rem !important;
    }

    sup {
      font-size: 1.2rem !important;
    }
  }
}

/* Medium devices (landscape tablets, 768px*432px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px*558px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px*675px and up) */
@media only screen and (min-width: 1200px) {
}

/* Extra large devices (large laptops and desktops, 1400px and up) */
@media only screen and (min-width: 1400px) {
}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (orientation: portrait) {
 
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (orientation: landscape) {

}

/**********Product Responsive********/

/* Extra small devices (phones, 320px and down) */
@media only screen and (max-width: 320px) {


  /* Product Carousel */
  .carousel-product {
    margin-left: 6rem !important;
  }

}

/* Extra small devices (phones, 480px and down) */
@media only screen and (max-width: 480px) {
 
  /* Product Carousel */
  .carousel-product {
    margin-left: 7rem;
  }
}

/* Small devices (portrait tablets and large phones, 568px and up) */
@media only screen and (max-width: 568px) {

  #product {
    .product-container {

      height: 100% !important;
    }

    .sidenav {
      display: none;
    }
  }

  .product-responsive-carousel {
    display: block;
  }

  .product-content {
    text-align: center;

    h2 {
      display: none;
    }

  }

}

/* Medium devices (landscape tablets, 768px*432px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px*558px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px*675px and up) */
@media only screen and (min-width: 1200px) {
}

/* Extra large devices (large laptops and desktops, 1400px and up) */
@media only screen and (min-width: 1400px) {
}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (orientation: portrait) {
 
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (orientation: landscape) {

}



/**********About Us Responsive********/

/* Extra small devices (phones, 320px and down) */
@media only screen and (max-width: 320px) {

}

/* Extra small devices (phones, 480px and down) */
@media only screen and (max-width: 480px) {

}

/* Small devices (portrait tablets and large phones, 568px and up) */
@media only screen and (max-width: 568px) {

}

/* Medium devices (landscape tablets, 768px*432px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px*558px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px*675px and up) */
@media only screen and (min-width: 1200px) {
}

/* Extra large devices (large laptops and desktops, 1400px and up) */
@media only screen and (min-width: 1400px) {
}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (orientation: portrait) {
 
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (orientation: landscape) {

}



/**********Contact Responsive********/

/* Extra small devices (phones, 320px and down) */
@media only screen and (max-width: 320px) {

}

/* Extra small devices (phones, 480px and down) */
@media only screen and (max-width: 480px) {

}

/* Small devices (portrait tablets and large phones, 568px and up) */
@media only screen and (max-width: 568px) {

}

/* Medium devices (landscape tablets, 768px*432px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px*558px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px*675px and up) */
@media only screen and (min-width: 1200px) {
}

/* Extra large devices (large laptops and desktops, 1400px and up) */
@media only screen and (min-width: 1400px) {
}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (orientation: portrait) {
 
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (orientation: landscape) {

}



/**********Portfolio Responsive********/

/* Extra small devices (phones, 320px and down) */
@media only screen and (max-width: 320px) {

}

/* Extra small devices (phones, 480px and down) */
@media only screen and (max-width: 480px) {

}

/* Small devices (portrait tablets and large phones, 568px and up) */
@media only screen and (max-width: 568px) {

}

/* Medium devices (landscape tablets, 768px*432px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px*558px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px*675px and up) */
@media only screen and (min-width: 1200px) {
}

/* Extra large devices (large laptops and desktops, 1400px and up) */
@media only screen and (min-width: 1400px) {
}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (orientation: portrait) {
 
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (orientation: landscape) {

}


/**********Blogs Responsive********/

/* Extra small devices (phones, 320px and down) */
@media only screen and (max-width: 320px) {

}

/* Extra small devices (phones, 480px and down) */
@media only screen and (max-width: 480px) {

}

/* Small devices (portrait tablets and large phones, 568px and up) */
@media only screen and (max-width: 568px) {

}

/* Medium devices (landscape tablets, 768px*432px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px*558px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px*675px and up) */
@media only screen and (min-width: 1200px) {
}

/* Extra large devices (large laptops and desktops, 1400px and up) */
@media only screen and (min-width: 1400px) {
}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (orientation: portrait) {
 
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (orientation: landscape) {

}