/*Media Sorgularımız.*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 320px) {}

/* Extra small devices (phones, 480px and down) */
@media only screen and (max-width: 480px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 568px) {}

/* Medium devices (landscape tablets, 768px*432px and up) */
@media only screen and (min-width: 768px) {
  html {
    font-size: 10px;
  }

  .nav-text {
    display: inline !important;
  }

  .bg-container {
    width: 93%;

  }

  .navli {
    padding: 0.5rem 1.3rem 0.5rem 1.3rem !important;
  }

  /* //    .navigation {
        //      width: 80.1% !important;
        //    }
        //    .search-language {
        //      width: 9% !important;
        //    }
        //    .box-container{
        //     width: 45%;
        // } */

}

/* Large devices (laptops/desktops, 992px*558px and up) */
@media only screen and (min-width: 992px) {
  html {
    font-size: 13px;
  }

  .nav-text {
    display: inline !important;
  }

  .bg-container {
    width: 88%;

  }

  .navli {
    padding: 0.5rem 1.3rem 0.5rem 1.3rem !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px*675px and up) */
@media only screen and (min-width: 1200px) {
  html {
    font-size: 14px;
  }

  .nav-text {
    display: inline !important;
  }

  .bg-container {
    width: 85%;

  }

  .navli {
    padding: 0.5rem 1.3rem 0.5rem 1.3rem !important;
  }
}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {}