*:not(input):not(textarea) {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	user-select: none
}
.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

html {
font-size: 10px;
font-family: Arial, Helvetica, sans-serif;
color: white;
}

[class^="flaticon-"]:before {
	color: white;
	margin-left: 0 !important;
}

[class^="carousel-control-next-icon"],[class^="carousel-control-prev-icon"]{
  width: 40%;
 }
/** footer*/
.footer-bg{
	background-image: linear-gradient(to bottom, rgba(24, 25, 26, 0.4), rgba(0,0,0,0.3));
}
  .bg-container {
    width: 90%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
  }

  .social {
    padding-top: 1rem;
    text-align: right;
  }

  .boxes {
    width: 80%;
    margin: auto;
    margin-top: 2vh;
  }

  .footer {
    position: absolute;
    width: 100%;
    bottom: 0;
  }
  [class^="flaticon-"]:before,
  [class*=" flaticon-"]:before,
  [class^="flaticon-"]:after,
  [class*=" flaticon-"]:after {
    font-size: 1.1rem;
    cursor: pointer;
  }