.clearfix::after {
  display: block;
  content: "";
  clear: both;
}
html {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
/***** Background & Container ****/
.bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  transition: background-image 3s ease-in-out;
  height: 100vh;
  width: 100%;
}
.overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.bg-container {
  width: 90%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}
/***** Global Icon's ****/
[class^="flaticon-"]:before {
  color: white;
  margin-left: 0 !important;
}
[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  font-size: 1.1rem;
  cursor: pointer;
}
/* HEADER  */
.header {
  display: inline-block;
  width: 100%;
  border-bottom: 0.003rem solid white;
  padding: 1rem 0;
  text-align: center;
  height: 5.5rem;
}
/***** SOCIAL ******/
.social {
  height: 2rem;
  padding-top: 1rem;
  text-align: right;
}
/***** CAROUSEL ******/
.carousel {
  margin-top: 3vh;
}
[class^="carousel-control-next-icon"],
[class^="carousel-control-prev-icon"] {
  width: 40%;
}
/***** BOXES ******/
.boxes {
  width: 80%;
  margin: auto;
  margin-top: 6vh;
  cursor: pointer;
}
.embed-responsive {
  height: 100%;
  width: 100%;
}
.references-container {
  display: table;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
}
/***** FOOTER ******/
.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}
.footer-bg {
  background-color: rgba(0, 0, 0, 0.6);
  color: #939393;
  height: 2rem;
  width: 100%;
  text-align: center;
}
