.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

.f-right {
  float: right;
}

.f-left {
  float: left;
}

.radius-2em {
  border-radius: 2em;
}

.radius-1em {
  border-radius: 1em;
}

.radius-circle {
  border-radius: 50%;
}

.radius-05em {
  border-radius: 0.5em;
}

html {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;

  a {
    color: white;
    text-decoration: none;
  }

  a:hover,
  button:hover {
    color: lightgreen;
    text-decoration: none;
  }
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

/*social hover*/

[class^="flaticon-youtube"]:hover:before {
  color: #ff0000;
}

[class^="flaticon-twitter"]:hover:before {
  color: #33ccff;
}

[class^="flaticon-linkedin-1"]:hover:before {
  color: #007bb7;
}

.social-search {
  width: 100%;
  float: right;

  .search {
    float: right;
  }

  .socials {
    float: right;
    padding-top: 1.4rem;
  }
}

[class^="flaticon-search"]:before {
  font-size: 1.5rem;
}

.mobile-call {
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
}

/* Content */

.content {
  color: white;
  width: 100%;
  height: 73vh;
  padding: 1rem;
  margin-top: 3rem;
  border-radius: 1em;
  font-family: Arial, sans-serif;
}

.sidenav {
  width: 20%;
  height: 100%;
  float: left;
  padding: 1rem;
}

/* scroll bar ayarları  */
.overflow-scroll {
  overflow-x: hidden;
}

//scroll genel ayarları genişliğini verdik
::-webkit-scrollbar {
  width: .3rem;
}

//scroolun alt kısmı(gri tarafı)
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(255, 255, 255, .4);
  border-radius: 10px;
}

//scrool kayan kısmı
::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 30px;
}

//scrol üzerine gelince renh değişimi
::-webkit-scrollbar-thumb:hover {
  background: lightgreen;
}

/* scrollbar bitiş */



/***** OVERLAY BACKGROUND ******/
@supports (backdrop-filter: none) {
  .content-background {
    background-color: rgba(0, 0, 0, .01);
    backdrop-filter: blur(15px);
    border-radius: 2rem;
  }
}

/* Tarayıcı desteği olmadığında seçilecek resim buraya gelecek.*/
@supports not (backdrop-filter: none) {
  .content-background {
    background-color: rgba(0, 0, 0, .2);
  }
}

/***** Background & Container ****/
.bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  transition: background-image 3s ease-in-out;
  height: 100vh;
  width: 100%;
}

/*overflow ve position eklendi arka plan rengi yayılsın diye*/
.overlay {
  height: 100%;
  position: inherit;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: auto;
}

.bg-container {
  width: 90%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
}

/***** Global Icon's ****/

//Reset margin icon's
[class^="flaticon-"]:before {
  color: white;
  margin-left: 0 !important;
}

//Icon font size
[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  font-size: 1.1rem;
  cursor: pointer;
}

/* HEADER  */
.header {
  display: inline-block;
  width: 100%;
  border-bottom: 0.003rem solid white;
  padding: 1rem 0;
  text-align: center;
  height: 5.5rem;
}

/***** SOCIAL ******/
.social {
  height: 1rem;
  padding-top: 1rem;
  text-align: right;
}

/***** CAROUSEL ******/
.carousel {
  margin-top: 3vh;
}

[class^="carousel-control-next-icon"],
[class^="carousel-control-prev-icon"] {
  width: 40%;
}


/***** BOXES ******/
.boxes {
  width: 80%;
  margin: auto;
  margin-top: 8vh;
  cursor: pointer;
}

.embed-responsive {
  height: 100%;
  width: 100%;
}

.references-container {
  display: table;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.20);
}

/***** FOOTER ******/
.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.footer-bg {
  background-color: rgba(0, 0, 0, 0.6);
  color: #939393;
  height: 2rem;
  width: 100%;
  overflow: auto;
  text-align: center;
  overflow: hidden;
}

.mobile-footer {
  display: none;
}

.mobile-footer {
  display: none;
}

/***** Navigation ******/
.nuxt-link-exact-active {
  a {
    color: lightgreen;

    [class^="flaticon-"]:before,
    [class*=" flaticon-"]:before,
    [class^="flaticon-"]:after,
    [class*=" flaticon-"]:after {
      color: lightgreen;
    }
  }
}

/*** Contact CSS*****/

.colored-background {
  background-color: white;
  background-image: linear-gradient(rgba(0, 34, 57, 0.8), rgba(5, 69, 74, 0.8));
}

/* Product-carosuel*/
.product-responsive-carousel {
  display: none;
}

.VueCarousel-wrapper {
  width: 95% !important;
}

.product-responsive-carousel {
  margin-top: 2rem;
}

.carousel-product {
  color: white !important;
  height: 8rem;
}

.VueCarousel-navigation-button {
  color: white !important;
}

.VueCarousel-navigation-prev {
  transform: translateY(-50%) translateX(-40%) !important;


}

.VueCarousel-navigation-next {
  transform: translateY(-50%) translateX(40%) !important;


}

.slide-content {
  font-size: 2.2rem;
}

[class="flaticon-next"]:before {
  padding-left: 0.3rem;
}

[class="flaticon-back"]:before {
  padding-right: 0.3rem;
}

/*** Pigment Table *****/
.table {
  color: white;

}

tr:hover {
  color: lightgreen !important;

  .blogs,
  .blogs>.blogs-content {
    img {
      width: 100%;
      height: 50vh;
      object-fit: cover;
      border-radius: 0.5em;
    }

    h3 {
      cursor: pointer;
    }

    h3,
    h2,
    h1,
    h4,
    h5,
    h6 {
      border: 1px solid white;
      margin-top: 1rem;
      padding: .5rem 0;
      text-align: center;
      border-radius: 0.3em;
      text-transform: uppercase;
      font-size: 1.5rem;
    }

    h3:hover {
      color: lightgreen;
      border-color: lightgreen;
    }
  }
}
/**** Contact carousel****/

.carousel-3d-controls{
  display: none;
}
///Blog Detail///<-----
#blogs-detail {
  .blogs-detail {
    width: 100%;
    height: 100%;
  }

  .button-container {
    width: 100%;
    margin: 1rem;
    display: flex;

    .box-left,
    .box-right,
    .box-center {
      width: 33%;
      display: inline-block;

    }

    .box-center {
      text-align: center;
    }

    .box-right {
      text-align: right;
    }
    .btn {
      display: inline-block;
      font-size: 0.8rem;
      text-align: center;
      color: white;
      border: 1px solid white;
      border-radius: 1em;
      transition: 0.5s;
    }
  }

  .btn:hover {
    color: lightgreen;
    border-color: lightgreen;

    [class^="flaticon-"]:before,
    [class*=" flaticon-"]:before,
    [class^="flaticon-"]:after,
    [class*=" flaticon-"]:after {
      color: lightgreen;
    }

  }
}
#blogs {
  img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    border-radius: 0.5em;
  }

  h3 {
    cursor: pointer;
  }

  h3,
  h2,
  h1,
  h4,
  h5,
  h6 {
    border: 1px solid white;
    margin-top: 1rem;
    padding: .5rem 0;
    text-align: center;
    border-radius: 0.3em;
    text-transform: uppercase;
    font-size: 1.5rem;
  }

  h3:hover {
    color: lightgreen;
    border-color: lightgreen;
  }
}