/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */
body {
  font-display: swap;
}
.clearfix::after {
  display: block;
  content: "";
  clear: both;
}
.f-right {
  float: right;
}
.f-left {
  float: left;
}
.radius-2em {
  border-radius: 2em;
}
.radius-1em {
  border-radius: 1em;
}
.radius-circle {
  border-radius: 50%;
}
.radius-05em {
  border-radius: 0.5em;
}
html {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
html a {
  color: white;
  text-decoration: none;
}
html a:hover,
html button:hover {
  color: lightgreen;
  text-decoration: none;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}
/*social hover*/
[class^="flaticon-search"]:hover:before {
  color: lightgreen;
}
[class^="flaticon-youtube"]:hover:before {
  color: #ff0000;
}
[class^="flaticon-twitter"]:hover:before {
  color: #33ccff;
}
[class^="flaticon-linkedin"]:hover:before {
  color: #007bb7;
}
.social-circle [class^="flaticon-twitter"]:before,
.social-circle [class^="flaticon-linkedin"]:before,
.social-circle [class^="flaticon-youtube"]:before {
  font-size: 1.5rem;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.contact-socials [class^="flaticon-twitter"]:before,
.contact-socials [class^="flaticon-linkedin"]:before,
.contact-socials [class^="flaticon-youtube"]:before {
  font-size: 2.2rem;
}
.social-search {
  width: 100%;
  /* float: right; */
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.social-search .search {
  float: right;
}
.social-search .socials {
  float: right;
}
#mobil-search {
  display: none !important;
  padding-top: 1rem;
}
[class^="flaticon-search"]:before {
  font-size: 1.5rem;
}
.mobile-call {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
/* Content */
.content {
  color: white;
  width: 100%;
  height: 73vh;
  padding: 1rem;
  border-radius: 1em;
  font-family: Arial, sans-serif;
}
.sidenav {
  width: 20%;
  height: 100%;
  float: left;
  padding: 1rem;
}
/* scroll bar ayarları  */
.overflow-scroll {
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0.3rem;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.4);
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.4);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover {
  background: lightgreen;
}
/* scrollbar bitiş */
/***** OVERLAY BACKGROUND ******/
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .content-background {
    background-color: rgba(0, 0, 0, 0.01);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    border-radius: 2rem;
  }
}
/* Tarayıcı desteği olmadığında seçilecek resim buraya gelecek.*/
@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .content-background {
    background-color: rgba(0, 0, 0, 0.2);
  }
}
/***** Background & Container ****/
.bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  -webkit-transition: background-image 3s ease-in-out;
  -o-transition: background-image 3s ease-in-out;
  transition: background-image 3s ease-in-out;
  height: 100vh;
  width: 100%;
}
/*overflow ve position eklendi arka plan rengi yayılsın diye*/
.overlay {
  height: 100%;
  position: inherit;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: auto;
}
.bg-container {
  width: 90%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
}
/***** Global Icon's ****/
/*Reset margin icon's */
[class^="flaticon-"]:before {
  color: white;
  margin-left: 0 !important;
}
[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  font-size: 1.1rem;
  cursor: pointer;
}
/* HEADER  */
.header {
  display: inline-block;
  width: 100%;
  border-bottom: 0.003rem solid white;
  padding: 1.5rem 0;
  text-align: center;
}
/***** SOCIAL ******/
.social {
  height: 1rem;
  padding-top: 1rem;
  text-align: right;
}
/***** CAROUSEL ******/
/* .carousel {
  margin-top: 3vh;
 }*/
[class^="carousel-control-next-icon"],
[class^="carousel-control-prev-icon"] {
  width: 40%;
}
/***** BOXES ******/
.boxes {
  width: 80%;
  margin: auto;
  margin-top: 8vh;
  cursor: pointer;
}
.embed-responsive {
  height: 100%;
  width: 100%;
}
.references-container {
  display: table;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
}
/***** FOOTER ******/
.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}
.footer [class^="flaticon-twitter"]:before,
.footer [class^="flaticon-linkedin"]:before,
.footer [class^="flaticon-youtube"]:before {
  font-size: 1.7rem;
  margin-right: 0.2rem;
}
.footer-bg {
  background-color: rgba(0, 0, 0, 0.6);
  color: #939393;
  height: 2rem;
  width: 100%;
  overflow: auto;
  text-align: center;
  overflow: hidden;
}
.mobile-footer {
  display: none;
}
.mobile-footer [class^="flaticon-"]:before,
.mobile-footer [class*=" flaticon-"]:before,
.mobile-footer [class^="flaticon-"]:after,
.mobile-footer [class*=" flaticon-"]:after {
  font-size: 1.3rem !important;
}
.mobile-footer {
  display: none;
}
/***** Navigation ******/
.nuxt-link-active a {
  color: lightgreen;
}
.nuxt-link-active a [class^="flaticon-"]:before,
.nuxt-link-active a [class*=" flaticon-"]:before,
.nuxt-link-active a [class^="flaticon-"]:after,
.nuxt-link-active a [class*=" flaticon-"]:after {
  color: lightgreen;
}
nav [class^="flaticon-"]:before,
nav [class*=" flaticon-"]:before,
nav [class^="flaticon-"]:after,
nav [class*=" flaticon-"]:after {
  color: white;
  margin-left: 0px;
  margin-right: 0.5rem;
}
/*Mobile nav*/
.mobile-nav [class^="flaticon-"]:before,
.mobile-nav [class*=" flaticon-"]:before,
.mobile-nav [class^="flaticon-"]:after,
.mobile-nav [class*=" flaticon-"]:after {
  color: white;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  font-size: 2.2rem !important;
}
/**** Home ****/
/*** Contact CSS*****/
.colored-background {
  background-color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 34, 57, 0.8)), to(rgba(5, 69, 74, 0.8)));
  background-image: -o-linear-gradient(rgba(0, 34, 57, 0.8), rgba(5, 69, 74, 0.8));
  background-image: linear-gradient(rgba(0, 34, 57, 0.8), rgba(5, 69, 74, 0.8));
}
#contact .carousel-container .icon-container [class^="flaticon-"]:before,
#contact .carousel-container .icon-container [class*=" flaticon-"]:before,
#contact .carousel-container .icon-container [class^="flaticon-"]:after,
#contact .carousel-container .icon-container [class*=" flaticon-"]:after {
  font-size: 4rem;
  color: #FB5757;
}
/* Product-carosuel*/
.product-responsive-carousel {
  display: none;
}
/** prodcur btn **/
.product-btn .btn [class^="flaticon-"]:before,
.product-btn .btn [class*=" flaticon-"]:before,
.product-btn .btn [class^="flaticon-"]:after,
.product-btn .btn [class*=" flaticon-"]:after {
  font-size: 3rem;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.product-btn .btn:hover [class^="flaticon-"]:before,
.product-btn .btn:hover [class*=" flaticon-"]:before,
.product-btn .btn:hover [class^="flaticon-"]:after,
.product-btn .btn:hover [class*=" flaticon-"]:after {
  color: lightgreen;
}
.product-btn .btn:hover .product-btn-info {
  color: lightgreen;
  border-color: lightgreen;
}
.VueCarousel-wrapper {
  width: 95% !important;
}
/* .product-responsive-carousel {
   margin-top: 2rem;
 }*/
.carousel-product {
  color: white !important;
  height: 8rem;
}
.VueCarousel-navigation-button {
  color: white !important;
}
.VueCarousel-navigation-prev {
  -webkit-transform: translateY(-50%) translateX(-40%) !important;
  -ms-transform: translateY(-50%) translateX(-40%) !important;
  transform: translateY(-50%) translateX(-40%) !important;
}
.VueCarousel-navigation-next {
  -webkit-transform: translateY(-50%) translateX(40%) !important;
  -ms-transform: translateY(-50%) translateX(40%) !important;
  transform: translateY(-50%) translateX(40%) !important;
}
.slide-content p {
  padding: 0.3rem;
  line-height: 15px;
  font-size: 2rem;
}
[class="flaticon-next"]:before {
  padding-left: 0.3rem;
}
[class="flaticon-back"]:before {
  padding-right: 0.3rem;
}
/*** Pigment Table *****/
.table {
  color: white;
}
tr:hover {
  color: lightgreen !important;
}
tr:hover .blogs img,
tr:hover .blogs > .blogs-content img {
  width: 100%;
  height: 50vh;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 0.5em;
}
tr:hover .blogs h3,
tr:hover .blogs > .blogs-content h3 {
  cursor: pointer;
}
tr:hover .blogs h3,
tr:hover .blogs > .blogs-content h3,
tr:hover .blogs h2,
tr:hover .blogs > .blogs-content h2,
tr:hover .blogs h1,
tr:hover .blogs > .blogs-content h1,
tr:hover .blogs h4,
tr:hover .blogs > .blogs-content h4,
tr:hover .blogs h5,
tr:hover .blogs > .blogs-content h5,
tr:hover .blogs h6,
tr:hover .blogs > .blogs-content h6 {
  border: 1px solid white;
  margin-top: 1rem;
  padding: 0.5rem 0;
  text-align: center;
  border-radius: 0.3em;
  text-transform: uppercase;
  font-size: 1.5rem;
}
tr:hover .blogs h3:hover,
tr:hover .blogs > .blogs-content h3:hover {
  color: lightgreen;
  border-color: lightgreen;
}
/**** Contact carousel****/
.carousel-3d-controls {
  display: none;
}
/**** Blog Detail****/
#blogs-detail {
  margin-bottom: 1rem;
}
#blogs-detail .btn {
  border: none;
}
#blogs-detail .blogs-detail {
  width: 100%;
  height: 100%;
}
#blogs-detail .button-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
  border: 1.5px solid white;
  padding: 0.8rem;
}
#blogs-detail .button-container .box-left,
#blogs-detail .button-container .box-right,
#blogs-detail .button-container .box-center {
  width: 33%;
  display: inline-block;
}
#blogs-detail .button-container .box-center {
  text-align: center;
}
#blogs-detail .button-container .box-right {
  text-align: right;
}
#blogs-detail .button-container i {
  margin: 0.6rem;
}
#blogs-detail .button-container .btn {
  display: inline-block;
  font-size: 1rem;
  text-align: center;
  color: white;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#blogs-detail .button-container .box {
  text-align: center !important;
}
#blogs-detail .button-container .box:not(:last-child) {
  line-height: 0.02px !important;
  border-right: 0.1rem solid white;
}
#blogs-detail .button-container .btn:hover {
  color: lightgreen;
}
#blogs-detail .button-container .btn:hover [class^="flaticon-"]:before,
#blogs-detail .button-container .btn:hover [class*=" flaticon-"]:before,
#blogs-detail .button-container .btn:hover [class^="flaticon-"]:after,
#blogs-detail .button-container .btn:hover [class*=" flaticon-"]:after {
  color: lightgreen;
}
#blogs img {
  width: 100%;
  height: 50vh;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 0.5em;
}
#blogs h3 {
  cursor: pointer;
}
#blogs h3,
#blogs h2,
#blogs h1,
#blogs h4,
#blogs h5,
#blogs h6 {
  border: 1px solid white;
  margin-top: 1rem;
  padding: 0.5rem 0;
  text-align: center;
  border-radius: 0.3em;
  text-transform: uppercase;
  font-size: 1.2rem;
}
#blogs h3:hover {
  color: lightgreen;
  border-color: lightgreen;
}
#pigment .button-container {
  width: 100%;
  text-align: center;
}
#pigment .colored {
  font-size: 1rem !important;
}
#portfolioDetail {
  margin-bottom: 1rem;
  width: 100%;
  text-align: center;
}
#portfolioDetail .portfolio-document {
  margin-top: 2rem;
}
#portfolioDetail img {
  width: 80%;
}
#portfolioDetail .button-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
  border: 1.5px solid white;
  padding: 0.8rem;
}
#portfolioDetail .button-container .box-left,
#portfolioDetail .button-container .box-right,
#portfolioDetail .button-container .box-center {
  width: 33%;
  display: inline-block;
}
#portfolioDetail .button-container .box-center {
  text-align: center;
}
#portfolioDetail .button-container .box-right {
  text-align: right;
}
#portfolioDetail .button-container i {
  margin: 0.6rem;
}
#portfolioDetail .button-container .btn {
  display: inline-block;
  font-size: 1rem;
  text-align: center;
  color: white;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#portfolioDetail .button-container .box {
  text-align: center !important;
}
#portfolioDetail .button-container .box:not(:last-child) {
  line-height: 0.02px !important;
  border-right: 0.1rem solid white;
}
#portfolioDetail .btn:hover {
  color: lightgreen;
}
#portfolioDetail .btn:hover [class^="flaticon-"]:before,
#portfolioDetail .btn:hover [class*=" flaticon-"]:before,
#portfolioDetail .btn:hover [class^="flaticon-"]:after,
#portfolioDetail .btn:hover [class*=" flaticon-"]:after {
  color: lightgreen;
}
/****  Search pop-up*/
.blog-results {
  font-size: 1.2rem;
}
.blog-results h1,
.blog-results h2,
.blog-results h3,
.blog-results h4,
.blog-results h5,
.blog-results h6 {
  font-size: 1.2rem;
}
